<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img class="container-fluid-img" src="../../../assets/img/srmlogo.png" alt="Bootstrap" width="30" height="30">
      <a class="navbar-brand" routerLink="">SRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse row2" id="navbarNav">

            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
         
            <a class="nav-link" routerLink="campuslife" routerLinkActive="active-link">Campus Life</a>

            <a class="nav-link" routerLink="admission" routerLinkActive="active-link">Admission</a>

            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>

            <a class="nav-link yellow-button" routerLink="apply" routerLinkActive="active-link">Apply</a>

      </div>
    </div>
  </nav>